<%= render 'books/userinfo', book: @book, user: @user %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <%= link_to book_path(book.id) do %>
  <p><%= book.title %></p>
  <% end %>
  <p><%= book.body %></p>
</div>
<% end %>